.container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  margin-right: 6px;

  .items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}

.text {
  color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  margin-top: 7rem;
}
