.logo {
  flex-grow: 1;
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.links {
  display: flex;
  align-items: center;
}

// Responsive Design
// Mobile Phones
@media screen and (max-width: 768px) {
  .image {
    width: 120px;
    height: 60px;
  }

  .checkout {
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  .signIn {
    display: none;
  }
}
