.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  grid-auto-rows: auto;
  justify-items: center;
  margin: 8em auto 2em;
}

//////////////////////////////////////////////////
// Responsive Design

// Laptops
@media screen and (max-width: 1366px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}

// Tablets
@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Mobile Phones
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    margin: 7rem 1rem;
    column-gap: 3rem;
  }
}
